h1 {
  font-family: cursive;
  font-size: 35px;
}

.header h2 {
  font-family: monospace;
  font-size: 25px;
  padding-left: 15px;
  padding-bottom: 0px;
}

body {
  background-color: powderblue;
}

.bg-dark {
  background-color: ##2391 !important;
}

.footer {
	background-color: #1113;
	color: white;
	padding: 15px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	position: fixed;
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: lightgrey;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #FF69B4;
}

.portfolio {
  display: inline-block;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.navbar-brand img{
  width: 13%;
  height: 13%;
  border-radius: 15px;
}
